<nb-layout>
  <nb-layout-column>
    <canvas height="70vh" baseChart [data]="pieChartDataArrival" [labels]="pieChartLabelsArrival"
      [chartType]="pieChartTypeArrival" [options]="pieChartOptions" [plugins]="pieChartPluginsArrival"
      [legend]="pieChartLegendArrival">
    </canvas>
  </nb-layout-column>
</nb-layout>
