<nb-layout>
  <nb-layout-column>
    <canvas height="70vh" baseChart [data]="pieChartDataDeparture" [labels]="pieChartLabelsDeparture"
     [chartType]="pieChartTypeDeparture" [options]="pieChartOptions" [plugins]="pieChartPluginsDeparture"
     [legend]="pieChartLegendDeparture">
    </canvas>
   </nb-layout-column>
</nb-layout>
