<!--The content below is only a placeholder and can be replaced.-->

<nb-layout>
  <nb-layout-header fixed>
    <nb-layout-column>FlightChain v3</nb-layout-column>
    <nb-layout-column>
      <nb-user size="large" name="Jane Doe" title="Fantastic Airways"
        picture="https://upload.wikimedia.org/wikipedia/commons/5/59/SITA_LOGO_2018_AW_Positive_Version_Graduated_RGB.png">
      </nb-user>
    </nb-layout-column>
    <nb-layout-column>
        <input type="text" nbInput class="form-control" placeholder="Enter Flightkey" id="flightkey" required [(ngModel)]="flightkey" name="flightkey">
    </nb-layout-column>
    <nb-layout-column>
      <button nbButton status="primary" (click)="callGetFlightsByKey()">Search</button>
    </nb-layout-column>
    <nb-layout-column>
      <!-- add date picker and call callGetFlightsByDate() -->
    </nb-layout-column>
    <nb-layout-column>
      <nb-actions>
        <nb-action icon="nb-search"></nb-action>
        <nb-action icon="nb-gear"></nb-action>
        <nb-action icon="nb-close"></nb-action>
      </nb-actions>
    </nb-layout-column>


  </nb-layout-header>

  <nb-layout-column>
    <nb-flip-card>
      <nb-card-front>
        <nb-card status="success">
          <nb-card-header>Flights</nb-card-header>
          <nb-card-body>
            <nb-tabset>
              <nb-tab tabTitle="By Departure Airport">
                <app-departure-airport></app-departure-airport>
              </nb-tab>
              <nb-tab tabTitle="By Arrival Airport">
                <app-arrival-airport></app-arrival-airport>
              </nb-tab>
              <nb-tab tabTitle="Flight List">
                <p>{{ message }}</p>
                <pre>{{ flights | json }}</pre>
              </nb-tab>
            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="info">
          <nb-card-header>Blockchain Transactions</nb-card-header>
          <nb-card-body>
            <nb-tabset>
              <nb-tab tabTitle="Trends">
                <app-blockchain-trends></app-blockchain-trends>
              </nb-tab>
              <nb-tab tabTitle="Detail">
                <nb-card>
                  <nb-card-body>
                    <nb-stepper orientation="horizontal">
                      <nb-step [label]="labelOne">
                        <ng-template #labelOne>Block # 249123</ng-template>
                        <h3>Block # 249123</h3>
                        <nb-card>
                          <nb-card-header>11 Mar 2019@11:46</nb-card-header>
                          <nb-card-body>
                            some details of the transaction
                          </nb-card-body>
                          <nb-card-footer>Updated By LHR</nb-card-footer>
                        </nb-card>
                      </nb-step>
                      <nb-step [label]="labelTwo">
                        <ng-template #labelTwo>Block # 249122</ng-template>
                        <h3>Block # 249122</h3>
                        <nb-card>
                          <nb-card-header>11 Mar 2019@11:42</nb-card-header>
                          <nb-card-body>
                            some details of the transaction
                          </nb-card-body>
                          <nb-card-footer>Updated By BA</nb-card-footer>
                        </nb-card>
                      </nb-step>
                      <nb-step label="Block # 249121">
                        <h3>Block # 249121</h3>
                        <nb-card>
                          <nb-card-header>11 Mar 2019@11:41</nb-card-header>
                          <nb-card-body>
                            some details of the transaction
                          </nb-card-body>
                          <nb-card-footer>Updated By MIA</nb-card-footer>
                        </nb-card>
                      </nb-step>
                      <nb-step [label]="labelFour">
                        <ng-template #labelFour>Block # 249120</ng-template>
                        <h3>Block # 249120</h3>
                        <nb-card>
                          <nb-card-header>11 Mar 2019@11:33</nb-card-header>
                          <nb-card-body>
                            some details of the transaction
                          </nb-card-body>
                          <nb-card-footer>Updated By LHR</nb-card-footer>
                        </nb-card>
                      </nb-step>
                    </nb-stepper>
                  </nb-card-body>
                </nb-card>
              </nb-tab>
            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </nb-layout-column>
</nb-layout>

<router-outlet></router-outlet>
