<nb-layout>
  <nb-layout-column>
  <nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Block # 249123</ng-template>
          <h3>Block # 249123</h3>
          <nb-card>
            <nb-card-header>11 Mar 2019@11:46</nb-card-header>
            <nb-card-body>
              some details of the transaction
            </nb-card-body>
            <nb-card-footer>Updated By LHR</nb-card-footer>
          </nb-card>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Block # 249122</ng-template>
          <h3>Block # 249122</h3>
          <nb-card>
            <nb-card-header>11 Mar 2019@11:42</nb-card-header>
            <nb-card-body>
              some details of the transaction
            </nb-card-body>
            <nb-card-footer>Updated By BA</nb-card-footer>
          </nb-card>
        </nb-step>
        <nb-step label="Block # 249121">
          <h3>Block # 249121</h3>
          <nb-card>
            <nb-card-header>11 Mar 2019@11:41</nb-card-header>
            <nb-card-body>
              some details of the transaction
            </nb-card-body>
            <nb-card-footer>Updated By MIA</nb-card-footer>
          </nb-card>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Block # 249120</ng-template>
          <h3>Block # 249120</h3>
          <nb-card>
            <nb-card-header>11 Mar 2019@11:33</nb-card-header>
            <nb-card-body>
              some details of the transaction
            </nb-card-body>
            <nb-card-footer>Updated By LHR</nb-card-footer>
          </nb-card>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
  </nb-layout-column>
</nb-layout>