<nb-layout>
  <nb-layout-column>
    <canvas baseChart height="70vh" [datasets]="barChartData" [labels]="barChartLabels"
      [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </nb-layout-column>
</nb-layout>
